//================================================================================
// vars
//================================================================================
// Break points
$breakpoints: (
  'sm': 'screen and (min-width: 320px)',
  'md': 'screen and (min-width: 640px)',
  'lg': 'screen and (min-width: 960px)',
) !default;

@import url('https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css');
$ff: "Rounded Mplus 1c", 游明朝, YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", HG明朝E, "MS P明朝", "MS 明朝", Georgia, "Times New Roman", Times, serif;

//================================================================================
// mixins
//================================================================================
// media queryの指定を統一する
@mixin mq($breakpoint: sm) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
@mixin mq($breakpoint: lg) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@mixin fontsize($s, $m, $l) {
  @include mq(sm) {
    font-size: $s !important;
  }
  @include mq(md) {
    font-size: $m !important;
  }
  @include mq(lg) {
    font-size: $l !important;
  }
}
//================================================================================
// base
//================================================================================
body {
  font-family: $ff !important;
  @include fontsize(14px, 18px, 24px);
}


.reveal {
  // max-width: 961px;
  // padding: 3% 8%;
  // margin: 0 auto;
  @include fontsize(14px, 18px, 24px);
  h1,h2,h3,h4,h5,p {
    font-family: $ff !important;
  }
  h1 {
    @include fontsize(24px, 30px, 48px);
  }
  h2 {
    @include fontsize(18px, 24px, 38px);
  }
  h3 {
    @include fontsize(16px, 22px, 28px);
  }
}
