//================================================================================
// vars
//================================================================================
// Break points
$breakpoints: (
  'sm': 'screen and (min-width: 320px)',
  'md': 'screen and (min-width: 640px)',
  'lg': 'screen and (min-width: 960px)',
) !default;

@import url('https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css');
$ff: "Rounded Mplus 1c", 游明朝, YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", HG明朝E, "MS P明朝", "MS 明朝", Georgia, "Times New Roman", Times, serif;

//================================================================================
// mixins
//================================================================================
// media queryの指定を統一する
@mixin mq($breakpoint: sm) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
@mixin mq($breakpoint: lg) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@mixin fontsize($s, $m, $l) {
  @include mq(sm) {
    font-size: $s !important;
    line-height: $s + 12px;
  }
  @include mq(md) {
    font-size: $m !important;
    line-height: $m + 12px;
  }
  @include mq(lg) {
    font-size: $l !important;
    line-height: $l + 12px;
  }
}
//================================================================================
// base
//================================================================================
body {
  font-family: $ff !important;
}


.reveal {
  max-width: 961px;
  margin: 0 auto;
  // padding: 3% 8%;
  // @include fontsize(14px, 18px, 24px);
  h1,h2,h3,h4,h5,p,ul,li,ol {
    font-family: $ff !important;
  }
  h1 {
    font-size: 1.5em;
    // @include fontsize(1.7em, 30px, 1.7em);
  }
  h2 {
    font-size: 1.3em;
    // @include fontsize(18px, 24px, 38px);
  }
  h3 {
    // @include fontsize(16px, 22px, 28px);
  }
  h4 {
    font-weight: 600;
  }
  code {
    color: #4fbaee;
  }
  p,li {
    line-height: 1.2em;
  }
}
.gp-logo img {
  width: 100px;
  height: auto;
}

blockquote {
  position: relative;
  padding: 4rem;
  border: 1px solid #DDDDDD;
  //: background-color rgba(0,0,0,0.2);
  border-radius: 4px;
  font-style: italic;
  p {
    margin: 2rem 0;
  }
  &:before {
    position: absolute;
    top: 1rem;
    left: 1rem;
    content: ' “ ';
    display: block;
    // background-image: url('../images/quote_before.svg');
    width: 2.5rem;
    height: 2.5rem;
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0.4;
  }
  &:after {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    content: '”';
    display: block;
    // background-image: url('../images/quote_after.svg');
    width: 2.5rem;
    height: 2.5rem;
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0.4;
  }
}
.mario {
  vertical-align: middle;
  img {
    margin: 0 4%;
  }
}
