@import url("https://fonts.googleapis.com/earlyaccess/kokoro.css");
body {
  font-family: "Kokoro";
  max-width: 961px;
  margin: 0 auto; }
  @media screen and (min-width: 320px) {
    body {
      font-size: calc(0.8125rem + ((1vw - 3.2px) * 1.0938));
      line-height: calc(0.8125rem + ((1vw - 3.2px) * 1.0938) + 105%); } }
  @media screen and (min-width: 960px) {
    body {
      font-size: 20px;
      line-height: 40px; } }

@media screen and (min-width: 320px) {
  h1 {
    font-family: "Kokoro";
    font-size: calc(1rem + ((1vw - 3.2px) * 1.875)) !important; } }

@media screen and (min-width: 960px) {
  h1 {
    font-size: 28px; } }

@media screen and (min-width: 320px) {
  h2 {
    font-size: calc(0.9375rem + ((1vw - 3.2px) * 1.875));
    letter-spacing: -0.03em; } }

@media screen and (min-width: 960px) {
  h2 {
    font-size: 27px;
    line-height: 36px; } }
