@charset "UTF-8";
@import url("https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css");
body {
  font-family: "Rounded Mplus 1c", 游明朝, YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", HG明朝E, "MS P明朝", "MS 明朝", Georgia, "Times New Roman", Times, serif !important; }

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal p, .reveal ul, .reveal li, .reveal ol {
  font-family: "Rounded Mplus 1c", 游明朝, YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", HG明朝E, "MS P明朝", "MS 明朝", Georgia, "Times New Roman", Times, serif !important; }

@media screen and (min-width: 320px) {
  .reveal h1 {
    font-size: 24px !important;
    line-height: 36px; } }

@media screen and (min-width: 320px) {
  .reveal h2 {
    font-size: 18px !important;
    line-height: 30px; } }

@media screen and (min-width: 320px) {
  .reveal h3 {
    font-size: 16px !important;
    line-height: 28px; } }

.reveal h4 {
  font-weight: 600; }

.reveal code {
  color: #4fbaee; }

.reveal p, .reveal li {
  line-height: 1.2em; }

.gp-logo img {
  width: 100px;
  height: auto; }
